.site-footer {
  background-color: var(--bg-dark);
  color: #5b5d68;
  padding: 60px 0 40px;
  position: relative;
  z-index: 1;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  min-height: 180px;
}

.footer__left {
  flex-basis: 70%;
  padding-right: 60px;

  border-right: 1px solid rgba(255, 255, 255, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 180px;
}

.footer__title {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-gray);
  text-transform: uppercase;
  margin-bottom: 0;
  padding-bottom: 0;
  letter-spacing: 0.5px;
}

/* Навігація */
.footer__nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.footer__nav a {
  font-size: 14px;
  color: #acadb3;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0.9;
  white-space: nowrap;
}

.footer__right {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding-left: 60px;
  min-height: 180px;
}

.footer__logo img {
  width: 165px;
  height: 80px;
  margin-bottom: auto;
}

.footer__copyright {
  font-size: 12px;
  color: #5b5d68;
  font-weight: 400;
  margin-top: auto;
}

@media (max-width: 992px) {
  .site-footer {
    padding: 40px 0;
  }

  .footer__container {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 40px;
    min-height: auto;
  }

  .footer__left {
    order: 1;
    flex-basis: 100%;
    width: 100%;

    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-right: 0;
    padding-bottom: 30px;
    min-height: auto;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }

  .footer__title {
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 0;
    flex-shrink: 0;
  }

  .footer__nav {
    flex-grow: 1;
    width: auto;
  }
  .footer__nav ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    justify-content: flex-start;
  }
  .footer__nav a {
    white-space: nowrap;
  }

  .footer__right {
    order: 2;
    flex-basis: 100%;
    width: 100%;

    align-items: flex-start;
    padding-left: 0;
    padding-top: 0;
    min-height: auto;

    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
  }

  .footer__logo img {
    height: 80px;
    margin-bottom: 15px;
  }
  .footer__copyright {
    margin-top: 0;
    text-align: left;
  }
}
