.features {
  background-color: var(--bg-dark);
  color: #ffffff;
  padding: 100px 0;
  position: relative;
  z-index: 2;
}

.features__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}

.features__head {
  width: 300px;
  flex-shrink: 0;
}

.features__title {
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
}

.features__grid {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
  row-gap: 60px;
}

.feature-card {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.feature-icon-box {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-icon {
  width: 100%;
  height: auto;
  display: block;
}

.feature-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.feature-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.3;
}

.feature-text {
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.6;
  color: #8e929a;
  max-width: 350px;
}

@media (max-width: 992px) {
  .features {
    padding: 60px 0;
  }

  .features__container {
    flex-direction: column;
    gap: 50px;
  }

  .features__head {
    width: 100%;
    text-align: center;
  }

  .features__title {
    font-size: 36px;
  }

  .features__grid {
    grid-template-columns: 1fr;
    row-gap: 40px;
    width: 100%;
  }

  .feature-card {
    align-items: flex-start;
  }
}
