.rectangle-block {
  width: 40%;
  line-height: 0;
  margin-top: -1px;
  margin-bottom: -1px;
  position: relative;
  z-index: 2;
}

.rectangle-img {
  width: 100%;
  height: auto;
  display: block;
}
